body {
  background: #2d343d;
}

.login {
  margin: 20px auto;
  width: 60%;
  padding: 10px 25px;
  background: white;
  color: rgb(78, 78, 78);
  border: 1px solid #c4c4c4;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align:center;
  background: #f7f7f7;
 
}

.login-input {
  width: 100px;
  height: 30px;
  margin-bottom: 0px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  color: rgb(78, 78, 78);
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-radio {
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.login-button {
  width: 30%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.login-promo {
  width: 20%;
  height: 50px;
  padding: 0;
  font-size: 17px;
  color: rgb(78, 78, 78);
  text-align: center;
  background:white;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
  width: 85%;
  font-size: 14px;
  background: #2d343d;
  color: white;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}


